h2 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2em;
  color: #f6f6f6;
  margin: 0;
}

.editor-scene-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #191919;
  gap: 1em;
}

.editor-index-switcher {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
  border: 2px solid #f6f6f6;
}

.editor-scene-text {
  height: 100%;
  flex: 1;
}

.scene-textarea {
  flex: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #191919;
  font-family: "PPMondwest", sans-serif;
  font-size: 1.5em;
  color: #f6f6f6;
  padding: 16px;
  border: 2px dotted #f6f6f6;
  resize: none;
}

.editor-scene-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: #191919;
}

.scene-result-dropdown {
  background-color: #191919;
  border: solid 2px #f6f6f6;
  color: #f6f6f6;
  font-family: "Pixelify Sans", sans-serif;
  padding: 4px 10px;
}

.editor-scene-delete-button {
  background-color: #191919;
  border: solid 2px #f8d0d0;
  color: #f8d0d0;
  font-family: "Pixelify Sans", sans-serif;
  padding: 4px 10px;
}
