:host {
  height: 100%;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  font-family: 'PPMondwest', sans-serif;
  flex: 1 1 100%;

  .logo {
    font-size: 4rem;
    flex: 1 1 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    gap: 1rem;
  }
}
