:host a{
  font-size: 16px;
  color:white;
  text-decoration: none;
  font-family: 'Pixelify Sans', sans-serif;
}

:host a:hover {
  text-decoration: underline;
}

:host a.underlined {
  text-decoration: underline;
}

:host a.secondary {
  font-family: 'PPMondwest', sans-serif;
  text-decoration: none;
  font-size:2rem;
}

:host a.button {
  border: 2px solid #F6F6F6;
  padding-block: 4px;
  padding-inline: 10px;
  
}

:host a.button:hover {
  text-decoration: none;
  background-color: #3f3f3f;
}