<app-main-block>
  <div slot="content" class="aventures-page-content">

    <app-navbar/>
    
    <div id="content">
      @if(error)
      {
        <div id="error">
          <span>Erreur</span>
          <span>{{errorMessage}}</span>
        </div>
      }@else{
        <div id="aventure">
          <div id="image">
            <img src="assets/images/selected.png" alt="selected aventure image">
          </div>

          <div id="infos">
            <div id="title">
              <span>{{aventure?.title}}</span>
              <!-- <span id="heart">♥</span> -->
            </div>
            <div id="story">
              <p>{{aventure?.description}}</p>
            </div>
            <div id="more">
              <div>
                <span>Créée le : {{aventure?.createdAt | date:'shortDate'}}</span>
                <span>Modifiée le : {{aventure?.updatedAt | date:'shortDate'}}</span>
                <span>Jouée {{aventure?.playCount}} fois</span>



              </div>
              <!-- <app-link-button link="" name="+ d'infos" [button]="true"></app-link-button> -->
              <!-- <div>38min</div> -->
              <!-- <div>4 Défaites</div> -->
               @if (isConnected) {
                <div>
                  @if(aventure && aventure.playCount > 0) {
                    <app-link-button link="/tale/{{aventure.id}}" name="Reprendre ‣" [button]="true"></app-link-button>
                  } @else {
                    <app-link-button link="/tale/{{aventure?.id}}" name="Jouer ‣" [button]="true"></app-link-button>
                  }
                </div>
               }
               @else {
                <div>Connectez vous pour lire cette histoire</div>
               }

            </div>
          </div>

        </div>
      }
      
      <!-- <div id="others">
        <span>Mes aventures</span>

        <div id="list">
          <div class="item">
            <img src="assets/images/other.png" alt="">
          </div>
          <div class="item">
            <img src="assets/images/other.png" alt="">
          </div>
          <div class="item">
            <img src="assets/images/other.png" alt="">
          </div>
          <div class="item">
            <img src="assets/images/other.png" alt="">
          </div>
          <div class="item">
            <img src="assets/images/other.png" alt="">
          </div>
          <div class="item">
            <img src="assets/images/other.png" alt="">
          </div>
          <div class="item">
            <img src="assets/images/other.png" alt="">
          </div>
          <div class="item">
            <img src="assets/images/other.png" alt="">
          </div>
        </div>
      </div> -->
    </div>

  </div>
</app-main-block>
